/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/bank3.jpg");
    background-size: cover ;
background-position: center;
width: auto;
background-attachment: fixed;
margin: 0%;

}
header{
    height: 50px;
    color: azure;
    background-color: rgb(172, 98, 98);
    margin-top: -17px;
}
footer{
    height: 60px;
    background-color: rgb(172, 98, 98);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: azure;
}